.add-to-cart{
    background: rgb(255, 236, 69);
    font-size: 17px;
    font-weight: 400;
    border: 1px solid rgb(255, 234, 41) ;
    transition: 0.3s all ease-in-out;
}
.add-to-cart:hover{
    background: lightgray;
  
}
.row-colomn-width{
    width: 250px;

}